@import '~bootstrap/scss/bootstrap';
.container {
  height: 100vh;
}
.board {
  max-height: calc(100vh - 100px);
  min-width: calc(100vh - 100px);
  margin: auto;
  background: gray;
  background-size: cover;
} 
.box {
    background: gray;
    min-height: calc(100% / 3);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15vh;
    text-shadow: 2px 2px rgba(0, 0, 0, .25);
    user-select: none;
    border-right: 3px solid black;
    border-bottom: 3px solid black;
&:nth-child(3n) {
    border-right: 0px;
}

&:nth-last-child(-1n + 3) {
    border-bottom: 0px;
}
 
&:hover {
    background-color: LightSteelBlue;
    cursor: pointer;
}
}