@import '~bootstrap/scss/bootstrap';

*, *::after, *::before {
    box-sizing: border-box;
}

:root {
    --cell-size: 100px;
}

body {
    margin: 0;

}

.board {
    width: 100vw;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, auto);
}

.cell {
    width: var(--cell-size);
    height: var(--cell-size);
    background-color: white;
    border: 1px solid black;
}

// Developers should store styles in assets/styles and load them from assets/styles/index.scss. Bootstrap version 3 is included in this template.